.unstyled {
  list-style: none;
}
.liked{
   color: rgba(255, 0, 0, 1)
}
.container{
  width: 90%;
  margin: auto;
}
.iconLike{
  animation: like 1s;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
